[user]
	name = shu-illy
	email = sh.illy.9117@gmail.com
[alias]
	co = checkout
	cb = checkout -b
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	br = branch
	dlm = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main|master|production'|xargs git branch -d; };f"
	st = stash
	stu = stash -u
	stp = stash pop stash@{0}
	stl = stash list
	pso = push origin
	pl = pull
	plo = pull origin
	dlsm = "!f() { \
		git checkout -q develop && \
			git for-each-ref refs/heads/ "--format=%(refname:short)" | \
			while read branch; do \
				mergeBase=$(git merge-base develop $branch) && \
					[[ $(git cherry develop $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == "-"* ]] && \
					git branch -D $branch; \
		done \
	};f"
[init]
	defaultBranch = main
[pager]
	log = less
	stl = cat
	stash = cat
[core]
	pager = cat
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[ghq]
	root = ~/repositories